@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
    --green: #c0ff9b;
    --green-dark: #6f8f72;
    --beige: #fee9c2;
    --brown: #6b4f3a;
    --brown-dark: #453225;
    --cream: #fffaf0;
}

* {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;

}

html {
    font-size: 16px;
}

body {
    margin: 0;
    min-height: 100vh;

    font-family: "Noto Sans JP", sans-serif;

    background-color: var(--beige);
    color: var(--brown-dark);

    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;

    padding: 1.5rem 3rem;
}

nav {
    display: flex;
    gap: 2rem;
}

header h1 {
    margin: 0;
}


nav a {
    text-decoration: none;
}

main {
    width: min(90%, 1100px);
    margin: 0 auto;

    display: grid;
    gap: 2rem;
}

section {
    width: 100%;
}

input {
    max-width: 100%;
}

button {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    width: 100%;
    padding: 1.5rem;
    text-align: center;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        gap: 0.5rem;
    }
}